<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Osutility_Beta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="testKey1" value="E:\temp"/>  
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Osutility_Beta.Properties.Settings>
      <setting name="AppTitle" serializeAs="String">
        <value>Osutility_Beta</value>
      </setting>
      <setting name="osuDirectory" serializeAs="String">
        <value>E:\NetGame\osu!\Songs</value>
      </setting>
      <setting name="osuAPIkey" serializeAs="String">
        <value>5e0580f5781b93f203a9b78c0511c34109611035</value>
      </setting>
      <setting name="osuAPIUrlHead" serializeAs="String">
        <value>https://osu.ppy.sh/api/</value>
      </setting>
    </Osutility_Beta.Properties.Settings>
  </userSettings>
</configuration>
